
.box-body-home {
    padding-top: 57px;
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    font-family: "Inter", serif;
    display: flex;
    justify-content: center;
    .body_home_page {
        max-width: 980px;
    }
    .quang_cao {
        width: 300px;
        background-color: #1e9253;
    }
    .doi-ngay-duong {
        font-size: 26px;
        font-weight: 700;
        font-family: "Inter", serif;
    }
    .dercription {
        font-size: 20px;
        line-height: 30px;
        font-family: "Inter", serif;
        a {
            text-decoration: none;
            padding-left: 7px;
            padding-right: 7px;
            color: #1e9253;
            font-weight: 700;
        }
    }
    .sider-bar {
        margin-top: 20px;
        ul {
            padding: 7px 0;
            background-color: #F9F9F9;
            display: flex;
            li {
                list-style: none;
                a {
                    color: #1e9253;
                    font-weight: 700;
                    padding: 0 7px;
                    border-right: 1px solid;
                    text-decoration: none;
                }
            }
            li:last-child a {
                border-right: none;
            }
        }
    }
    
    .form-search-date {
        font-family: "Inter", serif;
        h5 {
            font-weight: 700;
        }
        form {
            input{
                padding-left: 10px;
            }
            button {
                margin-left: 10px;
                background-color: #006E33;
                color: white;
            } 
        }
        .ket-qua {
            margin-top: 20px;
        }
        .information-date {
            .the-label {
               font-size: 20px;
               a {
                text-decoration: none;
                color: #006E33;
                padding-left: 10px;
               }
               .ngayDuong {
                font-weight: 700;
                padding: 7px 10px;
                color:#FF6600 ;
                border: 1px solid #BCCCC3;
                border-radius: 5px;
               }
               .ngayAm {
                font-weight: 700;
                padding: 7px 10px;
                color:#0B730B ;
                border: 1px solid #BCCCC3;
                border-radius: 5px;
               }
            }
        }
    }


    // css của page FinDetailDay
    .title-find-date {
        font-weight: 700;
    }

    // css của page FinđetailMonth
    .find-by-month {
        font-family: "Inter", serif;
        padding: 5px;
        border: 1px solid;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        border-radius: 7px;
        color: white;
        background-color: #999;
        a{
            text-decoration: none;
            margin-right: 5px;
            color: white;
        }
    }
    .name-month {
        margin-top: 15px;
        font-family: "Inter", serif;
        a{
            text-decoration: none;
            color: #1E9253;
            font-weight:500;
            .icon{
                font-weight:500;
            }
        }
    }
    .detail-month {
        font-size: 20px;
        line-height: 28px;
    }
    .hashtag-month {
        p {
            word-wrap: break-word;
            small{ 
            }
            small:not(:first-child) {
                margin-left: 10px;
                min-width: 10px;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                background-color: #636463;
                border-radius: 10px;
            }
        }
    }
    .menu-iteam_link-year {
        padding: 7px;
        display: flex;
        align-items: center;
        background-color: #F9F9F9; 
        ul {
            padding: 0;
            margin-left: 7px;
            margin-bottom: 0;
            display: flex;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    border-left: 1px solid;
                    margin-right: 10px;
                    padding-left: 10px;
                    color: #006e33;
                    font-size: 14px;
                    font-weight: 700;
                }
                 &:first-child a {
                    border-left: none;
                }
            }
        }
    }
    .ngay_xau_tot {
        margin-bottom: 15px;
        .ngay_tot{
            text-transform: uppercase;
            color: red;
            font-size: 18px;
            font-weight: 700;
        }
        .ngay_xau {
            text-transform: uppercase;
            color: #95149a;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .l_day_good {
        h4{
            font-weight: 700;
        }
        .chi_tiet_ngay_tot {
            width: 100%;
            text-align: center;
            padding: 7px;
            background-color: #EC5151;
            border-radius: 7px;
            a{
                display: inline-block;
                font-weight: 700;
                width: 100%;
                color: white;
                text-decoration: none;
            }
        }
        .chi_tiet_ngay_tot:not(:first-child) {
            margin-top: 10px;
        }
    }
    .l_day_bad {
        h4{
            font-weight: 700;
        }
        .chi_tiet_ngay_xau {
            width: 100%;
            text-align: center;
            padding: 7px;
            background-color: #673369;
            border-radius: 7px;
            a{
                display: inline-block;
                width: 100%;
                color: white;
                text-decoration: none;
                font-weight: 700;
            }
        }
        .chi_tiet_ngay_xau:not(:first-child) {
            margin-top: 10px;
        }
    }
    .event {
        margin-top: 15px;
      font-size: 22px;
      font-weight: 700;  
    }
    .secction_event_duong {
       .l_event_ngay_duong {
        padding: 7px;
        font-size: 18px;
        background-color: #FFFFFF;
        border-radius: 4px;
            .icon_event_duong {
               color: #006e33;
               padding-right: 15px;
            }
       }
       .l_event_ngay_duong:not(:first-child){
        margin-top: 10px;
       }
    }

    .menu_month_of_year {
        margin-bottom: 15px;
        .s_link {
            width: 100%;
            padding: 6px;
            text-align: center;
            display: inline-block;
            background-color: #5CB85C;
            border-radius: 6px;
            
            a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: white;
                font-weight: 700;
            }
    
            &:not(:first-child) {
                margin-top: 10px;
            }
            
        }:hover {
            background-color: #0B730B;
        }
    }

    @media only screen and (max-width: 768px) {
        .quang_cao {
            display: none;
        }
      }
}



