.box-body-home {
  padding-top: 57px;
  width: 100%;
  height: auto;
  background-color: #EEEEEE;
  font-family: "Inter", serif;
  display: flex;
  justify-content: center;
}
.box-body-home .body_home_page {
  max-width: 980px;
}
.box-body-home .quang_cao {
  width: 300px;
  background-color: #1e9253;
}
.box-body-home .doi-ngay-duong {
  font-size: 26px;
  font-weight: 700;
  font-family: "Inter", serif;
}
.box-body-home .dercription {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", serif;
}
.box-body-home .dercription a {
  text-decoration: none;
  padding-left: 7px;
  padding-right: 7px;
  color: #1e9253;
  font-weight: 700;
}
.box-body-home .sider-bar {
  margin-top: 20px;
}
.box-body-home .sider-bar ul {
  padding: 7px 0;
  background-color: #F9F9F9;
  display: flex;
}
.box-body-home .sider-bar ul li {
  list-style: none;
}
.box-body-home .sider-bar ul li a {
  color: #1e9253;
  font-weight: 700;
  padding: 0 7px;
  border-right: 1px solid;
  text-decoration: none;
}
.box-body-home .sider-bar ul li:last-child a {
  border-right: none;
}
.box-body-home .form-search-date {
  font-family: "Inter", serif;
}
.box-body-home .form-search-date h5 {
  font-weight: 700;
}
.box-body-home .form-search-date form input {
  padding-left: 10px;
}
.box-body-home .form-search-date form button {
  margin-left: 10px;
  background-color: #006E33;
  color: white;
}
.box-body-home .form-search-date .ket-qua {
  margin-top: 20px;
}
.box-body-home .form-search-date .information-date .the-label {
  font-size: 20px;
}
.box-body-home .form-search-date .information-date .the-label a {
  text-decoration: none;
  color: #006E33;
  padding-left: 10px;
}
.box-body-home .form-search-date .information-date .the-label .ngayDuong {
  font-weight: 700;
  padding: 7px 10px;
  color: #FF6600;
  border: 1px solid #BCCCC3;
  border-radius: 5px;
}
.box-body-home .form-search-date .information-date .the-label .ngayAm {
  font-weight: 700;
  padding: 7px 10px;
  color: #0B730B;
  border: 1px solid #BCCCC3;
  border-radius: 5px;
}
.box-body-home .title-find-date {
  font-weight: 700;
}
.box-body-home .find-by-month {
  font-family: "Inter", serif;
  padding: 5px;
  border: 1px solid;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  border-radius: 7px;
  color: white;
  background-color: #999;
}
.box-body-home .find-by-month a {
  text-decoration: none;
  margin-right: 5px;
  color: white;
}
.box-body-home .name-month {
  margin-top: 15px;
  font-family: "Inter", serif;
}
.box-body-home .name-month a {
  text-decoration: none;
  color: #1E9253;
  font-weight: 500;
}
.box-body-home .name-month a .icon {
  font-weight: 500;
}
.box-body-home .detail-month {
  font-size: 20px;
  line-height: 28px;
}
.box-body-home .hashtag-month p {
  word-wrap: break-word;
}
.box-body-home .hashtag-month p small:not(:first-child) {
  margin-left: 10px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #636463;
  border-radius: 10px;
}
.box-body-home .menu-iteam_link-year {
  padding: 7px;
  display: flex;
  align-items: center;
  background-color: #F9F9F9;
}
.box-body-home .menu-iteam_link-year ul {
  padding: 0;
  margin-left: 7px;
  margin-bottom: 0;
  display: flex;
}
.box-body-home .menu-iteam_link-year ul li {
  list-style: none;
}
.box-body-home .menu-iteam_link-year ul li a {
  text-decoration: none;
  border-left: 1px solid;
  margin-right: 10px;
  padding-left: 10px;
  color: #006e33;
  font-size: 14px;
  font-weight: 700;
}
.box-body-home .menu-iteam_link-year ul li:first-child a {
  border-left: none;
}
.box-body-home .ngay_xau_tot {
  margin-bottom: 15px;
}
.box-body-home .ngay_xau_tot .ngay_tot {
  text-transform: uppercase;
  color: red;
  font-size: 18px;
  font-weight: 700;
}
.box-body-home .ngay_xau_tot .ngay_xau {
  text-transform: uppercase;
  color: #95149a;
  font-size: 18px;
  font-weight: 700;
}
.box-body-home .l_day_good h4 {
  font-weight: 700;
}
.box-body-home .l_day_good .chi_tiet_ngay_tot {
  width: 100%;
  text-align: center;
  padding: 7px;
  background-color: #EC5151;
  border-radius: 7px;
}
.box-body-home .l_day_good .chi_tiet_ngay_tot a {
  display: inline-block;
  font-weight: 700;
  width: 100%;
  color: white;
  text-decoration: none;
}
.box-body-home .l_day_good .chi_tiet_ngay_tot:not(:first-child) {
  margin-top: 10px;
}
.box-body-home .l_day_bad h4 {
  font-weight: 700;
}
.box-body-home .l_day_bad .chi_tiet_ngay_xau {
  width: 100%;
  text-align: center;
  padding: 7px;
  background-color: #673369;
  border-radius: 7px;
}
.box-body-home .l_day_bad .chi_tiet_ngay_xau a {
  display: inline-block;
  width: 100%;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.box-body-home .l_day_bad .chi_tiet_ngay_xau:not(:first-child) {
  margin-top: 10px;
}
.box-body-home .event {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
}
.box-body-home .secction_event_duong .l_event_ngay_duong {
  padding: 7px;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.box-body-home .secction_event_duong .l_event_ngay_duong .icon_event_duong {
  color: #006e33;
  padding-right: 15px;
}
.box-body-home .secction_event_duong .l_event_ngay_duong:not(:first-child) {
  margin-top: 10px;
}
.box-body-home .menu_month_of_year {
  margin-bottom: 15px;
}
.box-body-home .menu_month_of_year .s_link {
  width: 100%;
  padding: 6px;
  text-align: center;
  display: inline-block;
  background-color: #5CB85C;
  border-radius: 6px;
}
.box-body-home .menu_month_of_year .s_link a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.box-body-home .menu_month_of_year .s_link:not(:first-child) {
  margin-top: 10px;
}
.box-body-home .menu_month_of_year :hover {
  background-color: #0B730B;
}
@media only screen and (max-width: 768px) {
  .box-body-home .quang_cao {
    display: none;
  }
}/*# sourceMappingURL=common.css.map */