.is_infor_day {
    font-family: "Inter", serif;

    .good-day {
        font-size: 11pt;
        color: red;
        font-weight: 700;
    }

    .bad-day {
        font-size: 11pt;
        color: #95149a;
        font-weight: 700;
    }
}

.title-month {
    font-family: "Inter", serif;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    height: 45px;
    background-color: #006E33;
    color: white;

    a {
        .triangle-left {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 13px 12.5px 0;
            border-color: transparent white transparent transparent;
        }

        .triangle-right {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 0 12.5px 13px;
            border-color: transparent transparent transparent white;
        }
    }

}

.table {
    font-family: "Inter", serif;

    thead tr th {
        background-color: #117B11;
        color: white;
        text-align: center;
        border: 1px solid #0B730B;
        border-top: 1px solid #758675;
    }

    .table-body {
        tr {
            td {
                border: 1px solid #0B730B;
                a {
                    position: relative;
                    text-decoration: none;
                    color: black;
                    .infors {
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-around;
                        .day {
                            color: black;
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .circle {
                            width: 7px;
                            height: 7px;
                            border-radius: 10px;
                        }
                    }
                    .ngayam {
                        text-align: center;
                    }
                    .namedayam {
                        display: flex;
                        justify-content: center;
                        margin-bottom:10px ;
                        span {
                            margin-right: 7px;
                        }
                    }

                    .h_event_day{
                         position: absolute;
                         top: -22px;
                         display: none;
                         background-color: #FFEDED;
                         border-radius: 7px;
                         box-shadow: -1px 5px #888888;
                         p{
                            background-color: #FFEDED;
                            border-radius: 7px;
                            margin-bottom: 0;
                            margin-top: -25px;
                            margin-left: 17px;
                            font-weight: 400;
                         }
                         .icon_hover {
                            margin-left: -3px;
                            color: red !important;
                         }
                    }
                } :hover {
                    .h_event_day {
                        display: block;
                    }
                }
            } 
        } :hover {
            background-color: #6EC06E;
            
        }
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    tr {
        td {
            padding: 0;
            a {
                .namedayam {
                    .dayAms {
                        font-size: 10px;
                    }
                    .nameDayChi {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 425px) {
    .table {
        thead {
            th {
                font-size: 10px;
            }
        }
        .table-body {
            tr {
                td {
                    a {
                        .namedayam {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .is_infor_day {
        .good-day, .bad-day {
            font-size: 14px;
        }
    }
}

// @media screen and (min-width: 321px) and (max-width: 375px) {
//     .table {
//         thead {
//             th {
//                 font-size: 12px;
//             }
//         }
//         .table-body {
//             tr {
//                 td {
//                     padding: 0;
//                     a {
//                         .namedayam {
//                             .dayAms {
//                                 font-size: 10px;
//                             }
//                             .nameDayChi {
//                                 display: none;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
