.is_infor_day {
    font-family: "Inter", serif;

    .good-day {
        font-size: 11pt;
        color: red;
        font-weight: 700;
    }

    .bad-day {
        font-size: 11pt;
        color: #95149a;
        font-weight: 700;
    }
}

.title-month {
    font-family: "Inter", serif;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    height: 45px;
    background-color: #006E33;
    color: white;

    a {
        .triangle-left {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 13px 12.5px 0;
            border-color: transparent white transparent transparent;
        }

        .triangle-right {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 0 12.5px 13px;
            border-color: transparent transparent transparent white;
        }
    }

}

.table {
    font-family: "Inter", serif;

    thead tr th {
        background-color: #117B11;
        color: white;
        text-align: center;
        border: 1px solid #0B730B;
        border-top: 1px solid #758675;
    }

    .table-body {
        tr {
            td {
                border: 1px solid #0B730B;
                a {
                    text-decoration: none;
                    color: black;
                    .infors {
                        display: flex;
                        margin-top: 20px;
                        justify-content: space-around;
                        .day {
                            color: black;
                            font-weight: bold;
                        }
                        .circle {
                            width: 10px;
                            height: 10px;
                            border-radius: 10px;
                        }
                    }
                    .ngayam {
                        text-align: center;
                    }
                    .namedayam {
                        text-align: center;
                    }
                }
            } 
        } :hover {
            background-color: #6EC06E;
        }
    }
}

@media only screen and (max-width: 425px) {
    .table {
        thead {
            th {
                font-size: 10px;
            }
        }
        tbody {
            td {
                a {
                    .namedayam{
                        display: none;
                    }
                }
            }
        }
    }

    .is_infor_day {
        .good-day {
            font-size: 14px;
        }

        .bad-day {
            font-size: 14px;
        }

    }
}

@media only screen and (min-widrh: 321px) and (max-width: 375px) {
    .table {
        thead {
            th {
                font-size: 12px;
            }
        }
    }
}