footer{
    background-color: #EEEEEE;
    p {
        font-size: 18px;
        line-height: 1.8em;
        font-family: roboto, Arial, sans-serif;
        text-align: justify;
        font-family: "Inter", serif;
    }
    
    a {
        text-decoration: none;
        color: #1e9253;
        font-family: "Inter", serif;
    }
    
    .is-infor-company {
        padding-top: 30px;
        background-color: #0C5F33;
        font-family: "Inter", serif;
    
        h4 {
            font-family: "Inter", serif;
            color: #79a85c;
            text-align: left;
            padding-left: 5px;
            font-size: 16px;
            border-bottom: 2px dotted black;
            padding-bottom: 20px;
        }
    
        a {
            color: #fff;
            font-size: 16px;
            font-family: "Inter", serif;
        }
    
        p {
            margin-bottom: 0;
            font-family: "Inter", serif;
        }
    }
}